.article-node {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 24px;
        font-weight: bold;
    }

    /* 垂直方向のマージンを統一 */

    h1 {
        font-size: 48px;
        line-height: 1;
        /* 要素の高さ：48px（要素を配置するときの高さの基準の2倍）*/
    }

    h2 {
        font-size: 36px;
        line-height: 1.3333;
        /* 要素の高さ：48px（要素を配置するときの高さの基準の2倍） */
    }

    h3 {
        font-size: 24px;
        line-height: 1;
        /* 要素の高さ：24px（要素を配置するときの高さの基準） */
    }

    hgroup h2,
    h4,
    h5,
    h6 {
        font-size: 16px;
        line-height: 1.5;
        /* 要素の高さ：24px（要素を配置するときの高さの基準） */
    }
}
